/* .image{

      justify-content: center;
      align-items: center;
      margin-left: 120px;
} */

/* #signup-form{
    max-width: 400px;
    margin: 0 auto;
}

.form-group{
    margin-bottom: 10px;
}

.form-group label{
    display: block;
    font-weight: bold;
} */

/* h3{
    text-align: center;
    color: rgba(85, 85, 5, 0.716);
} */